:root {
	--blue: #1c2953;
	--white: #ffffff;
	--gold: #ceb863;
	--grey: #e8e9e1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	padding: 3rem 5%;
	width: 100vw;
}

body {
	overflow-x: hidden;
}

/* navigation  */
nav {
	color: var(--white);
	padding: 1rem 5%;
}

.nav-list {
	list-style: none;
}

.nav-list a {
	text-decoration: none;
	color: var(--white);
}

header {
	background-image: url("./images/Rectangle\ 8.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body > main > section:nth-child(2) > div > button {
	background-color: var(--gold);
}

body > main > section:nth-child(2),
footer {
	background-color: var(--blue);
}

body > main > section.z-n1,
body > main > section:nth-child(4),
body > main > section:nth-child(1),
body
	> main
	> section:nth-child(1)
	> div.d-flex.gap-3.py-5.justify-content-between
	> div
	> div,
body > main > section:nth-child(1) > div:nth-child(3) > div > div {
	background-color: var(--grey);
}
